* {
    --b: white;
    --b1: #868686;
    --a1: #1b1c20;
    --a1-light: #282a31;
    --a1-lighter: #444a5f;
    --a2: #00ffc8;
    --a2-light: #6ddab5;
    --a2-lighter: #dcfff5;
    --a2-darker: #00d4a6;
    --f1: white;
    --f2: black;
    --error: #f44336;
    --warning: #ffa632;
    --ok: rgb(19, 212, 52);
    --light: whitesmoke;
    --aside-padding: 15px;
    --aside-width: 270px;

    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
    /*color: var(--f1);*/
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 36px;
}

.caps {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.cardHead {
    padding-top: 20px;
}
.cardHead span {
    transform: translate(5px, -6px);
    display: inline-block;
    color: var(--f2);
}
.MuiTabs-root {
    padding-top: 10px;
    display: block;
    margin-bottom: -4px;
}

.MuiTabs-flexContainer > * {
    min-width: 0px;
    display: inline-block;
    width: calc(100% / 5);
    padding-bottom: 0px;
}

.groupName {
    padding-top: 10px;
}

.form > div {
    margin: 15px 0px;
}

.searchMatch > div {
    background: yellow;
}

pre {
    user-select: text;
    cursor: text;
}
code *,
code,
pre {
    font-family: monospace;
    font-size: 14px;
}
code,
code * {
    white-space: pre-wrap !important;
    word-wrap: break-word;
    pointer-events: none;
}

aside {
    height: 100%;
    width: var(--aside-width);
    background: var(--a1);
    resize: horizontal;
    float: left;
    color: var(--f1);
    box-sizing: -box;
}

aside > * {
    margin-left: var(--aside-padding);
}

aside > h1 {
    padding-top: 20px;
    margin-right: 15px;
    font-weight: 900;
    text-transform: uppercase;
}

.rowWrapper {
    content-visibility: auto;
}

.recRow .MuiInput-underline:before {
    border: none;
}

.rowWrapper .MuiSelect-root {
    padding-left: 25px;
}
.rowWrapper input[value="SOA"] {
    padding-left: 25px;
}

.rowWrapper .MuiSvgIcon-root.MuiSelect-icon {
    display: absolute;
    left: 0px;
}

.recRow {
    height: 70px;
    overflow: hidden;
}
.recRow > span {
    position: absolute;
}

.advancedRow {
    height: 600px;
    overflow-y: hidden;
}

.MuiSelect-select {
    padding-right: unset !important;
}
.MuiSelect-select:focus {
    background: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background: var(--f1);
}

main {
    float: left;
    width: calc(100% - 270px);
    height: 100%;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link {
    display: block;
    margin-left: 0px;
    padding: 3px;
    padding-left: var(--aside-padding);
    border: 2px solid transparent;
}

.link:hover {
    background: var(--a1-light);
}
.navActive {
    background: var(--a1-lighter);
}
.navActive:hover {
    background: var(--a1-lighter);
}

aside h2 {
    margin-top: 7px;
    margin-bottom: 7px;
}

.linkText {
    display: inline;
    font-size: 16px;
    font-weight: 500;
    vertical-align: 5px;
    padding-left: 10px;
}

.link.config {
    position: absolute;
    width: var(--aside-width);
    padding-top: 5px;
    bottom: 10px;
}

.cmOverlay {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: 2;
}
/*
input[value*="tick"] {
    color: red;
}
*/

.tfName,
.tfHelper {
    font-size: 13px;
}
.tfName {
    font-weight: 600;
}

.error .MuiInput-underline:before {
    border-bottom: 2px solid var(--error) !important;
}

.error .MuiFormHelperText-root,
.error label {
    color: var(--error) !important;
}
.error .MuiInput-underline:after {
    border-bottom-color: var(--error);
}
button.error,
button.error:hover {
    background: var(--error) !important;
    color: inherit !important;
    cursor: default;
}

.warning .MuiInput-underline:before {
    border-bottom: 2px solid var(--warning) !important;
}
.warning .MuiFormHelperText-root,
.warning label {
    color: var(--warning) !important;
}
.warning .MuiInput-underline:after {
    border-bottom-color: var(--warning);
}
button.warning,
button.warning:hover {
    background: var(--warning);
}

button.ok,
button.ok:hover {
    background: var(--ok);
}
